* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 64px;
}

.page {
  width: 626px;
  justify-content: center;
}

#world {
  display: block;
}

h1 {
  font-family: 'Dosis', sans-serif;
  color: #3F3D56;
  font-size: 32px;
  line-height: 40px;
  margin-top: 32px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
}

h1 #destiny {
  color: #EE24FF;
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #828282;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
}

p b {
  color: #3F3D56;
}

p span {
  color: #828282;
  font-weight: bold;
}

.line {
  border: 1px solid #ECEFF2;
  width: 391px;
  height: 0px;
  margin-top: 64px;
}

footer ul {
  display: flex;
  gap: 42px;
  list-style: none;
  margin-top: 16px;
  max-width: 350px;
}

footer ul li a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: bold;
  color: #3F3D56;
}

footer img {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 104px;
  right: 0px;
}